{
    "aws_region": "us-west-2",
    "tf_backend_bucket": "sd-aws-consumer-tf-backend-11111111",
    "sd_broker_endpointsvc_map": {
        "us-west-2a": ["broker_1", "service_1"],
        "us-west-2b": ["broker_2", "service_2"]
    },
    "sd_broker_endpointsvc_port": 9096,
    "route53_zone_name": "",
    "consumer_fn_name": "screwdriver-consumer-svc",
    "vpc_id": "",
    "private_subnets": [
        "10.10.106.0/25",
        "10.10.106.128/25",
        "10.10.107.0/25",
        "10.10.107.128/25"
    ],
    "sd_broker_secret_arn": "",
    "consumer_bucket_name": "screwdriver-consumer-builds-11111111-usw2",
    "kms_key_arn": "",
    "azs": [
        "us-west-2a",
        "us-west-2b",
        "us-west-2c"
        "us-west-2d"
    ]
    "kafka_topic": "builds-11111111-usw2"
}