{
    "aws_region": "us-west-2",
    "tf_backend_bucket": "sd-consumer-tf-backend-11111111",
    "sd_broker_endpointsvc_map": {
        "us-west-2a": ["broker_1", "service_1"],
        "us-west-2b": ["broker_2", "service_2"]
    },
    "sd_broker_endpointsvc_port": 9096,
    "route53_zone_name": "kafka.us-west-2.amazonaws.com",
    "consumer_fn_name": "screwdriver-consumer-service",
    "vpc_id": "",
    "private_subnets": [
        "10.10.106.0/25",
        "10.10.106.128/25",
        "10.10.107.0/25"
    ],
    "public_subnets": [
        "10.10.106.0/25",
        "10.10.106.128/25",
        "10.10.107.0/25"
    ],
    "build_vpc_id": "",
    "create_build_vpc": true,
    "build_cidr_block": "172.21.104.0/22",
    "build_private_subnets": [
        "172.21.104.0/25",
        "172.21.104.128/25",
        "172.21.105.0/25"
    ],
    "build_public_subnets": [
        "172.21.106.0/25",
        "172.21.106.128/25",
        "172.21.107.0/25"
    ],
    "sd_broker_secret_arn": "arn:aws:secretsmanager:us-west-2:11111111:secret:some-secret",
    "consumer_bucket_name": "screwdriver-consumer-builds-11111111-usw2",
    "kms_key_arn": "arn:aws:kms:us-west-2:340272556944:key/some-key",
    "azs": [
        "us-west-2a",
        "us-west-2b",
        "us-west-2c"
    ],
    "build_azs": [
        "us-east-1a",
        "us-east-1b",
        "us-east-1c"
    ],
    "kafka_topic": "builds-11111111-usw2",
    "create_ecr": true,
    "ecr_name": "screwdriver-hub",
    "consumer_role_arn": "arn:aws:iam::11111111:role/consumer-build",
    "sd_build_kms_key_alias": "screwdriver-builds-key"
}