{
  "private_subnets": [
    "subnet-abc",
    "subnet-def",
    "subnet-ghi"
  ],
  "security_group_id": "sg-abcde",
  "vpc_id": "vpc-abced",
  "route53_zone_name": "kafka.us-west-2.amazonaws.com",
  "aws_region": "us-west-2",
  "sd_broker_endpointsvc_map": {
    "usw2-az1": ["broker_1", "service_1"],
    "usw2-az2": ["broker_2", "service_2"]
  }
}